$black: #000000;
$dark-grey: #231F20;
$deep-grey: #636466;
$grey: #A9A9A8;
$border-grey: #bdc3c7;
$medium-grey: #D4D4D4;
$dark-blue: #006082;
$deep-blue: #009ADF;
$blue: #10A7E0;
$medium-blue: #7FD1EF;
$light-blue: #E6F6FC;
$red: #ff0000;
$light-red: #C0392B;
$orange: #D35400;
$deep-orange: #EE7111;
$light-orange: #DC6d0D;
$yellow: #F1C40F;
$light-white: #FEF8F2;
$white: #FFFFFF;
$green: #37ce37;
$background-green: #8eecc4;
$primary-purple: #3F51B5;
$light-green: #CDEEDC;
$purple: #8826bf;
$light-purple: #E500ff;
$background-grey: #f7f7f7;
