<div class="mt-3 mb-3 page_container">
    <div class="row">
        <div class="col-2 mt-1">
            Resulting script command line
        </div>

        <div class="input-group col-11 mt-1">
            <input type="text" class="form-control" placeholder="Execute-MSI" disabled>
        </div>
    </div>

    <nav class="navbar bg-secondary footer mt-3">
        Toolkit function builder
    </nav>

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="collapse navbar-collapse" id="navbarNavAltMarkupToolkit">
            <div class="navbar-nav">
                <a class="nav-item nav-link">Choose a function <span class="sr-only">(current)</span></a>
                <a class="nav-item nav-link active">Choose the parameters</a>
            </div>
        </div>
    </nav>

    <div class="mt-2">
        <table class="table">
            <thead>
            <tr>
                <th scope="col">Parameter</th>
                <th scope="col">Description</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <th scope="row">Action</th>
                <td>The action to perform. Options: Install, Uninstall, Patch, Repair, ActiveSetup.</td>
            </tr>
            <tr>
                <th scope="row">Transform</th>
                <td>The name of the transform file(s) to be applied to the MSI. The transform file is expected to be
                    in the same directory as the MSI file.
                </td>
            </tr>
            <tr>
                <th scope="row">Patch</th>
                <td>The name of the patch (msp) file(s) to be applied to the MSI for use with the "Install"
                    action.
                </td>
            </tr>
            <tr>
                <th scope="row">Parameters</th>
                <td>Overrides the default parameters specified in the XML configuration file. Install default is:
                    "REBOOT=ReallySuppress/QB!". Uninstall default is: "REBOOT=ReallySuppress /QN".
                </td>
            </tr>
            </tbody>
        </table>
    </div>

    <nav class="navbar bg-secondary footer mt-3">
        Script code for installation
    </nav>

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-item nav-link">Pre-installation <span class="sr-only">(current)</span></a>
                <a class="nav-item nav-link active">Uninstallation</a>
                <a class="nav-item nav-link">Post-uninstallation</a>
            </div>
        </div>
    </nav>

    <div class="input-group">
            <textarea class="form-control" aria-label="With textarea" rows="2"
                      placeholder="[string]$installPhase = 'Pre-uninstallation'"></textarea>
    </div>
</div>

<div class="row">
    <div class="col">
        <button type="button" class="btn btn-primary mr-2" (click)="previousStep()">Previous step</button>
        <button type="button" class="btn btn-primary" (click)="nextStep()">Next step</button>
    </div>
</div>
