<div class="mt-3 mb-3 page_container">
    <div class="row">
        <div class="col-1 mt-1">
            <i class="cil-money mr-2"></i>
            <span>
                Vendor
            </span>
        </div>

        <div class="input-group col-2 mt-1">
            <input type="text" class="form-control" placeholder="20.3.0.25008" pattern="[A-Za-z0-9- ]">
        </div>
    </div>

    <div class="row mt-2">
        <div class="col-1 mt-1">
            <i class="cil-user mr-2"></i>
            <span>
                Name
            </span>
        </div>

        <div class="input-group col-11 mt-1">
            <input type="text" class="form-control" placeholder="Profile management">
        </div>
    </div>

    <div class="row mt-2">
        <div class="col-1 mt-1">
            <i class="cil-check mr-2"></i>
            <span>
                Version
            </span>
        </div>

        <div class="input-group col-11 mt-1">
            <input type="text" class="form-control" placeholder="20.3.0.25008" pattern="[A-Za-z0-9- ]">
        </div>
    </div>

    <div class="row mt-2">
        <div class="col-1 mt-2">
            <i class="cil-terminal mr-2"></i>
            <span>
                Operating system
            </span>
        </div>

        <div class="col-11 mt-2">
            <div class="dropdown" class="dropdown_design">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="os_button"
                        data-toggle="dropdown" aria-expanded="false">
                    Windows 10
                </button>
                <div class="dropdown-menu" aria-labelledby="os_button">
                    <a class="dropdown-item" href="#">Windows 7</a>
                    <a class="dropdown-item" href="#">Windows 8</a>
                    <a class="dropdown-item" href="#">Windows 8.1</a>
                    <a class="dropdown-item" href="#">Windows 10</a>
                    <a class="dropdown-item" href="#">Windows Server 2008</a>
                    <a class="dropdown-item" href="#">Windows Server 2008 R2</a>
                    <a class="dropdown-item" href="#">Windows Server 2012</a>
                    <a class="dropdown-item" href="#">Windows Server 2012 R2</a>
                    <a class="dropdown-item" href="#">Windows Server 2016</a>
                    <a class="dropdown-item" href="#">Windows Server 2019</a>
                </div>
            </div>
        </div>
    </div>

    <div class="row mt-2">
        <div class="col-1 mt-1">
            <i class="cil-fork mr-2"></i>
            <span>
                Architecture
            </span>
        </div>

        <div class="col-11">
            <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="architecture_button"
                        data-toggle="dropdown" aria-expanded="false">
                    x64
                </button>
                <div class="dropdown-menu" aria-labelledby="architecture_button">
                    <a class="dropdown-item" href="#">x86</a>
                    <a class="dropdown-item" href="#">x64</a>
                    <a class="dropdown-item" href="#">Any</a>
                </div>
            </div>
        </div>
    </div>

    <div class="row mt-2">
        <div class="col-1 mt-1">
            <i class="cil-language mr-2"></i>
            <span>
                Language
            </span>
        </div>

        <div class="col-11">
            <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="language_button"
                        data-toggle="dropdown" aria-expanded="false">
                    Any
                </button>
                <div class="dropdown-menu" aria-labelledby="language_button">
                    <a class="dropdown-item" href="#">Application</a>
                    <a class="dropdown-item" href="#">User configuration</a>
                    <a class="dropdown-item" href="#">System configuration</a>
                    <a class="dropdown-item" href="#">Driver</a>
                </div>
            </div>
        </div>
    </div>

    <div class="row mt-2">
        <div class="col-1 mt-1">
            <i class="cil-folder mr-2"></i>
            <span>
                Revision
            </span>
        </div>

        <div class="input-group col-2 mt-1">
            <input type="number" class="form-control" placeholder="1" pattern="[A-Za-z0-9- ]">
        </div>
    </div>

    <div class="row mt-2">
        <div class="col-1 mt-1">
            <i class="cil-list-numbered mr-2"></i>
            <span>
                Script version
            </span>
        </div>

        <div class="input-group col-2 mt-1">
            <input type="number" class="form-control" placeholder="1.0.0" pattern="[A-Za-z0-9- ]">
        </div>
    </div>

    <div class="row mt-2">
        <div class="col-1 mt-1">
            <i class="cil-calendar-check mr-2"></i>
            <span>
                Script date
            </span>
        </div>

        <div class="input-group col-2 mt-1">
            <input type="number" class="form-control" placeholder="04/14/2020" pattern="[A-Za-z0-9- ]">
        </div>
    </div>

    <div class="row mt-2">
        <div class="col-1 mt-1">
            <i class="cil-user-follow mr-2"></i>
            <span>
                Script author
            </span>
        </div>

        <div class="input-group col-2 mt-1">
            <input type="number" class="form-control" placeholder="XOSS Packaging User" pattern="[A-Za-z0-9- ]">
        </div>
    </div>

    <div class="row">
        <div class="col-1 mt-2">
            <i class="cil-ethernet mr-2"></i>
            <span>
                Custom application variables
            </span>
        </div>

        <div class="input-group col-2 mt-2">
            <input type="text" class="form-control" placeholder="string" pattern="[A-Za-z0-9- ]">
        </div>

        <div class="input-group col-2 mt-2">
            <input type="text" class="form-control" placeholder="Name" pattern="[A-Za-z0-9- ]">
        </div>

        <div class="input-group col-2 mt-2">
            <input type="text" class="form-control" placeholder="Value" pattern="[A-Za-z0-9- ]">
        </div>

        <div class="col-2 mt-2">
            <button type="button" class="btn btn-secondary mr-3" disabled>
                Add
            </button>
            <button type="button" class="btn btn-secondary">
                Remove
            </button>
        </div>
    </div>
</div>

<div class="row">
    <div class="col">
        <button type="button" class="btn btn-primary mr-2" (click)="previousStep()">
            Previous step
        </button>
        <button type="button" class="btn btn-primary" (click)="nextStep()">
            Next step
        </button>
    </div>
</div>

